@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

#__next {
  @apply min-h-screen;
}

body {
  font-family: "Inter", sans-serif;

  @apply bg-slate-50;
}

.btn {
  @apply md:text-lg text-white font-bold border-2 rounded-2xl shadow-lg shadow-primary/20 flex items-center justify-center px-6 h-12 backdrop-blur-[3px] whitespace-nowrap transition delay-150 ease-in-out;
}

.btn-primary {
  @apply btn;
  @apply border-primary bg-primary md:hover:bg-primary/90 active:bg-primary/90;
}

.btn-secondary {
  @apply btn;
  @apply border-white bg-white text-primary md:hover:bg-primary active:bg-primary md:hover:text-white active:text-white md:hover:border-primary active:border-primary;
}

.btn-error {
  @apply border-red-500 shadow-red-500/20 bg-red-500 md:hover:bg-red-500/90 active:bg-red-500/90;
}

.drop-shadow-red {
  filter: drop-shadow(0 5px 8px rgb(239 68 68 / 0.4))
    drop-shadow(0 3px 5px rgb(239 68 68 / 0.35));
}

#toggler {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 16px;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
  }

  &::before {
    top: 0px;
  }

  &::after {
    top: 9px;
    width: 70%;
    left: 30%;
  }

  &.open::before {
    top: 9px;
    transform: rotate(135deg);
  }

  &.open::after {
    top: 9px;
    width: 100%;
    left: 0;
    transform: rotate(-135deg);
  }
}

.last-hidden {
  & > *:last-child {
    @apply sm:hidden lg:flex;
  }
}

.social-icon {
  @apply w-12 h-12 p-2 fill-gray-600 md:hover:fill-primary active:fill-primary focus:fill-primary transition ease-in-out delay-150;
}
